.App {
  text-align: center;
}

body.vsc-initialized {
  background-image: linear-gradient(
    rgb(160, 235, 160),
    rgb(48, 48, 158),
    rgb(0, 145, 0)
  );
  background-color: rgb(142, 249, 148);
  text-align: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

select.form-select {
  width: 200px;
}

.card button{
  width: 30vw;
  margin: 10px auto;
}

.card{
  width: 80vw;
  margin: 10px auto;
  border: 3px solid !important;
  padding: 10px 30px;
}

footer {
  text-align: center!important;
}


@media screen and (max-width:990px){
  .card img{
    width:80%;
  }
  select.form-select {
    display: none;
  }  
}

@media screen and (min-width:1800px){
  .card {
    width:60%;
  }
}